<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="reportPortal" type="EPAM.ReportPortal.Addins.NUnit.ReportPortalSection, EPAM.ReportPortal.Addins.NUnit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<reportPortal enabled="true" logConsoleOutput="true">
		<server url="https://evbyminsd7776.minsk.epam.com:8443/reportportal-ws/api/v1/" project="default_project">
			<authentication username="default" password="1q2w3e" />
		</server>
		<launch name="NUnit Demo Launch" debugMode="true" tags="t1,t2" />
	</reportPortal>
</configuration>